{% load staticfiles %}
<div class="bs-docs-section" id="analyses">
        <div class="panel-body" id="tabs">
            <ul>
            </ul>
            <div class="tab-content">
                <div class="analysis_div" id="tab_snorna_expr"></div>
                <div class="analysis_div" id="tab_tm_comparison"></div>
                <div class="analysis_div" id="tab_diff_subtype"></div>
                <div class="analysis_div" id="tab_survival"></div>
                <div class="analysis_div" id="tab_corr_geneexpr"></div>
                <div class="analysis_div" id="tab_corr_splicing"></div>
                <div class="analysis_div" id="tab_corr_rppa"></div>
                <div class="analysis_div" id="tab_corr_cnv"></div>
                <div class="analysis_div" id="tab_methylation"></div>
            </div>
        </div>
</div>
