{% extends "tric/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% load staticfiles %}
{% block content %}
    <div class="bs-docs-section">
        <h2 class="page-header"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;Download tRNA expression matrix</h2>
        <div class="panel panel-primary" style="padding: 20px">
            <div class="panel-collapse collapse in" id="collapseZero" role="tabpanel" aria-labelledby="headingZero">
                <div class="panel-body">
                    <table class="table table-hover table-bordered">
                        <tbody>
                            <tr>
                                <td><a href="{% static 'download/trna_expr.expr.TMM.txt.zip' %}">tRNA Expression</a></td>
                            </tr>
                            <tr>
                                <td><a href="{% static 'download/codon.expr.TMM.txt.zip' %}">Codon Expression</a></td>
                            </tr>
                            <tr>
                                <td><a href="{% static 'download/aa.expr.TMM.txt.zip' %}">Amino Acid Expression</a></td>
                            </tr>
                            <tr>
                                <td><a href="{% static 'download/freq.txt.zip' %}">Amino Acid and Codon Frequency in Genes</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
