{% load staticfiles %}
<footer class="bs-docs-footer" role="contentinfo" style="margin-top: 30px;">
    <div class="container" >
        <div>
            <p >Copyright &copy;<a href="http://bioinfo.life.hust.edu.cn/" target=_blank> Guo Lab</a>,<a href="http://life.hust.edu.cn/" target=_blank>&nbsp;College of Life Science and Technology</a>,<a href="http://www.hust.edu.cn" target=_blank> HUST</a>, China</p>
            <p ><a href="https://med.uth.edu/bmb/faculty/leng-han-ph-d/" target=_blank>Han Lab</a>,
            <a href="https://med.uth.edu/" target=_blank>UTHealth</a> Houston, USA</p>
            <p >Any comments and suggestions, please <a href="{% url 'tric:contact' %}">contact us.</a></p>
        </div>
        <div style="display:inline-block;width:200px;"><script type="text/javascript" src="//ra.revolvermaps.com/0/0/7.js?i=0q392jancn3&amp;m=7&amp;c=ff0000&amp;cr1=ffffff&amp;br=10&amp;sx=0&amp;ds=60" async="async"></script>
        </div>
    </div>
</footer>
