{% extends "tric/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% load staticfiles %}
{% block content %}
    <div class="bs-docs-section">
        <h2 class="page-header">
            <i class="fa fa-bar-chart"></i>&nbsp;Statistics of TCGA Samples
        </h2>
    </div>
    <div class="bs-docs-section">
        <center><img src="{% static 'image/StatisticsOfSamples.png' %}" class="img-thumbnail"></center>
        <!-- <table id="dataset_summary" class="table table-condensed table-hover table-bordered ">
            <thead>
                <tr>
                    <th>tRNA</th>
                    <th>Codon</th>
                    <th>Amino Acid</th>
                </tr>
            </thead>
        </table> -->
    </div>
{% endblock %}
