<div id="freq_aa_body">
    <div id="footer">
        Number in the box is the frequency percent (%).
        <div class="hint">click or option-click to descend or ascend</div>
        <div>
            <select>
                <option value="size">Size</option>
                <option value="count">Count</option>
            </select>
        </div>
    </div>
</div>

<div style="margin-top: 20px;">
    <table  class="table table-condensed table-hover table-bordered" id="freq_aa_table" width="100%">
      <thead>
        <tr>
          <th>Gene</th>
          <th>Amino Acid</th>
          <th>Frequency</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
</div>